#
# Specifies intentionally untracked files to ignore by git
#

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Users Environment Variables
.lock-wscript

# Temporary files
tmp
*~

# Bundle
app/js/bundle.js
app/js/bundle.min.js

# Mac Finder files
.DS_Store
._.DS_Store

# Vim files
*.swp

# WebStorm files
.idea/
