#
# Specifies intentionally untracked files to ignore by git
#

# Logs
logs
*.log

# Dependency directory
node_modules

# Temporary files
tmp
*~

# Bundle
app/js/bundle.js
app/js/bundle.min.js
app/js/bundle.min.map.js

# Mac Finder files
.DS_Store

# Vim files
*.swp

# WebStorm files
.idea/
